<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goflash.dispatch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".SortationApplication"
        android:icon="@drawable/ic_dispatcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_dispatcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        android:fullBackupContent="false"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.goflash.dispatch.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".features.cash.ui.activity.CashClosingActivity"
            android:label="@string/title_activity_cash_closing"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
        </activity>

        <activity android:name=".ui.activity.RaiseTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".features.lastmile.settlement.ui.activity.Step1UnscannedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.activity.FinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".features.lastmile.settlement.ui.activity.Step3CashCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.ScanShipmentActivity"
            android:label="@string/title_activity_scan_shipment"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.AddShipmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".features.cash.ui.activity.CreateSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
        android:name=".features.cash.ui.activity.AddExpenseActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

        <activity
            android:name=".features.cash.ui.activity.AddCashPickupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.bagging.ui.activity.SortActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.bagging.ui.activity.DiscardBagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.bagging.ui.activity.BagListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.bagging.ui.activity.BagDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.bagging.ui.activity.ScanSortedBinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.DispatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.DispatchBagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.ScanDispatchBinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CancelledActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.bagging.ui.activity.ScannedShipmentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.ScannedBagsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.OrdersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.AddBagsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.SummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.ReceiveBagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.VehicleScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.ReceivingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.VehicleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.DispatchVehicleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.InvoiceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dispatch.ui.activity.TripListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.CompleteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.receiving.ui.ConsignmentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.audit.ui.AuditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.audit.ui.AuditScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.audit.ui.AuditSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.audit.ui.AuditSummaryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.LastMileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.UnassignedShipmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.ScanToSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.LastMileSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.FilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.SelectSprinterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.SummaryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.settlement.ui.activity.Step1UndeliveredActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.settlement.ui.activity.Step2PickedUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.settlement.ui.activity.ScanReturnItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.settlement.ui.activity.ItemSummaryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.settlement.ui.activity.ReviewItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.lastmile.settlement.ui.activity.ReceiveItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".features.lastmile.tripCreation.ui.activity.SelectCancelReason"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"/>

        <activity
                android:name="com.goflash.dispatch.features.lastmile.tripCreation.ui.activity.AssignZonesActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.goflash.dispatch.features.lastmile.tripCreation.ui.activity.MergeCreatedTripActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.receiving.ui.RemoveBagsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.InTransitTripsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.lastmile.tripCreation.ui.activity.MPSBoxesActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.lastmile.settlement.ui.activity.ReceiveFmPickupShipmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.lastmile.settlement.ui.activity.FmSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.lastmile.settlement.ui.activity.FmPickupReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.cash.ui.activity.CashCollectionBreakupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.activity.MaintenanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.rtoReceiving.ui.activity.ReceiveShipmentsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.rtoReceiving.ui.activity.ScanReceiveShipmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.rtoReceiving.ui.activity.RunsheetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.rtoReceiving.ui.activity.ReceiveMpsShipmentListActvity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".features.rtoReceiving.ui.activity.MpsInwardRunItemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.rtoReceiving.ui.activity.ScanBinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".features.lastmile.settlement.ui.activity.Step4VerifyImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".features.lastmile.settlement.ui.activity.ApproveImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".features.lastmile.settlement.ui.activity.ReviewImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".features.dispatch.ui.activity.SizeSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".features.dispatch.ui.activity.RunsheetListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".features.lastmile.settlement.ui.activity.AckDeliverySlipReconActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="Rush_db_version"
            android:value="51" /> <!-- Old version 50 -->

        <meta-data
            android:name="Rush_db_name"
            android:value="sortation.db" /> <!-- Database name -->
        <uses-library
            android:name="com.symbol.emdk"
            android:required="false" />

        <meta-data
            android:name="Rush_debug"
            android:value="false" />

        <meta-data
            android:name="Rush_log"
            android:value="true" />

        <service android:name=".service.PrintJobMonitorService" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" />
    </application>

    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

</manifest>